html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #a8dadc;
    font-size: 12px;
}

.container {
    height: 100vh;
}

.title {
    text-align: center;
    margin: 50px auto 25px auto;
    color: #1d3557;
    font-size: 3rem;
}

.subheading {
    text-align: center;
    margin: 25px auto;
    color: #1d3557;
    font-size: 2rem;
}

.results {
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    margin: 50px 400px;
    margin-top: 0px;
}

.result {
    display: flex;
    flex-direction: column;
    border: 1px solid #1d3557;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #1d3557;

}

.score {
    height: 90%;
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 8rem;
}

.heading {
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.option {
    cursor: pointer;
    width: 170px;
    margin: 0px 20px;
    padding: 20px;
    background-color: #457b9d;
    color: white;
    border-radius: 8px;
    border-color: #457b9d;
    font-size: 1.5rem;
}

.option:disabled {
    cursor: pointer;
    width: 170px;
    margin: 0px 20px;
    padding: 20px;
    background-color: #1d3557;
    color: grey;
    border-radius: 8px;
    border-color: #1d3557;
    font-size: 1.5rem;
}

.resetDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.reset {
    cursor: pointer;
    margin: 0px 20px;
    padding: 10px;
    background-color: #f1faee;
    color: #1d3557;
    border-radius: 8px;
    border-color: #f1faee;
    font-size: 1.5rem;
}

.output {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150px;
    font-size: 2rem;
}